body{
    background-color: white;
    font-family: Seravek;
}
@media screen and (max-width: 365px){
    h1{
        position: relative;
        text-align: center;
    }
    .alert-info{
        display: flex;
        flex-direction: column;
        background-color: lightblue;
        border: 1px solid grey;
        width: 100%;
        height: 40px;
        align-items: center;
    }
    .alert-info>a{
        margin-top: auto;
        margin-bottom: auto;

    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
        list-style-type: none;
        padding: 15px;
    }
    li{
        align-items: center;

        margin-top: 10px ;
        margin-bottom: 10px;

        display: flex;
        width: 100%;
        height: 15px;
        padding: 15px;
        background-color: lightgrey;
    }
    li>a{
        margin-left: auto;
        margin-right: auto;
    }

}

img{
    margin-top: -16px;
    height: 100%;
    width: 100%;
}
p{
    font-style: italic;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;


}
#social-media-links{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#social-media-links>img{
    height: 20px;
    width: 30px;
    margin-bottom:16px ;
    margin-top: 16px;
    padding: 2px;
}

@media screen and (min-width: 365px){
    h1 {
        float: left;
        display:inline-block;
        padding-bottom: 25px;
    }
    nav {
        float: right;
        display: inline-block;
    }
    ul{
        display: inline-block;
    }
    li{
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
    }
    .alert-info{
        visibility: hidden;
    }
    .main{
        float: left;
        width: 25%;
        clear: right;
    }
    .sub-section{
        width: 25%;
        display: inline-block;
        clear: right;
        float: right;

    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 250px;
    }
    p{
        float: left;
        display: inline-block;
    }
    #social-media-links{
        float: right;
        display: inline-block;
    }
}